ultralytics
opencv-python
requests
python-dotenv

#ultralytics: To load YOLOv8 models.
# opencv-python: For video capture (CCTV or webcam).
# requests: To send data to the backend.
# dotenv: To handle backend URL & API key securely.